<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CleverFan的个人网站</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/stylesheets/animate.min.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/stylesheets/templatemo-style.css">
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/jquery.singlePageNav.min.js"></script>
		<script src="/javascripts/typed.js"></script>
		<script src="/javascripts/wow.min.js"></script>
		<script src="/javascripts/custom.js"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-weixin"></i><span> 微信公众号</span>clever_fan</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#">chengfan818@gmail.com</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>社交</span></li>
                            <li><a href="https://github.com/CleverFan" class="fa fa-github"></a></li>
                            <li><a href="http://www.improvecfan.cn" class="fa fa-rss"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-qq"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
		
    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#top" class="navbar-brand">CleverFan</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">主页</a></li>
						<li><a href="#about">关于</a></li>
						<li><a href="#team">学习计划</a></li>
						<li><a href="#service">链接</a></li>
						<li><a href="#portfolio">其他</a></li>
						<li><a href="#contact">联系我</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->
    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">欢迎来到我的个人网站 <span>welcome</span></h1>
    					<div class="element">
                            <div class="sub-element">欢迎来到这里</div>
                            <div class="sub-element">在这里，你可以和我一起学习一起进步</div>
                            <div class="sub-element">你也可以将你的学习过程记录下来，投稿到本站</div>
                            <div class="sub-element">一切只为变得更好</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">I AM  <span>CLEVERFAN</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-rss"></i>
								</div>
								<h3 class="media-heading">我的<span>个人学习记录博客</span></h3>
							</div>
							<div class="media-body">
								<p>
									用来记录我自己的学习过程。我觉得，只有能清晰的把你学到的东西写出来，并且也让别人也能理解，那样你才算是学会了。
									<a href="http://www.improvecfan.cn">欢迎访问</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-github"></i>
								</div>
								<h3 class="media-heading">我的<spam>github</spam></h3>
							</div>
							<div class="media-body">
								<p>我的github，一般我所有的代码都会放到github上。学习记录，自己写的程序等等。<a rel="github" href="https://github.com/CleverFan">点击访问</a> </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">我的 <span>csdn博客</span></h3>
							</div>
							<div class="media-body">
								<p>用来写一些经验，零零碎碎的知识等<a rel="csdn" href="http://blog.csdn.net/qq_31655965?viewmode=contents">点击访问</a> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">最近的<span>学习计划</span></h2>
    				</div>
					<!--280 x 220-->
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="/images/java.jpeg" class="img-responsive" alt="team img 1">
    							<div class="team-des">
    								<h4>java</h4>
    								<span>提高篇</span>
    								<p>java深入学习。从面向对象到虚拟机。从操作符到lambda表达式。系统并深入的重新学习java。</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="/images/node.jpeg" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h4>nodejs</h4>
    								<span>从入门到提高</span>
    								<p>在现在已有的基础上，提高多nodejs的理解。学习各种第三方框架及常用中间件。</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="/images/vue.jpeg" class="img-responsive" alt="team img 3">
    							<div class="team-des">
    								<h4>vue.js</h4>
    								<span>初窥mvvm</span>
    								<p>学习vue高级操作，包括.vue组件，webpack，vue的其他组件。并将本网站逐渐改为vue。</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="images/ajax.jpg" class="img-responsive" alt="team img 4">
    							<div class="team-des">
    								<h4>ajax</h4>
    								<span>探索</span>
    								<p>根据《ajax实战》一书，进行ajax的使用练习。最后熟练掌握ajax的使用。</p>
    							</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">还会学习哪些知识</h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-laptop"></i>
    					<h4>mysql/mongodb</h4>
    					<p>目前只会简单的使用数据库，有时间会深入学习</p>
    				</div>
    				<div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
    					<i class="fa fa-cloud"></i>
    					<h4>数据结构和算法</h4>
    					<p>《算法导论》在桌子上摆了好久了，该看看了。</p>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-cog"></i>
    					<h4>bootstrap</h4>
    					<p>现在用的还不熟练，熟能生巧，多学多用</p>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end servie -->

    	<!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">最新学习记录</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
    					   <img src="images/linux.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>linux vps</h4>
                                    <p>一些关于centos vps的操作记录</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/wordpress.jpg" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>wordpress</h4>
                                    <p>关于使用wordpress搭建个人网站的教程及各种资源</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="images/git.jpg" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>git 操作</h4>
                                    <p>一些关于git的基本操作</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="portfolio-thumb">
							<img src="images/node.jpg" class="img-responsive" alt="portfolio img 3">
							<div class="portfolio-overlay">
								<h4>nodejs模块</h4>
								<p>几个nodejs模块的使用方式</p>
								<a href="#" class="btn btn-default">DETAIL</a>
							</div>
						</div>
					</div>


    	</section>
    	<!-- end portfolio -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">联系我</h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="#" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control" value="发送邮件给我">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">ABOUT ME</p>
    						<span>我在中国</span>
    						<p><i class="fa fa-wechat"></i> clever_fan</p>
    						<p><i class="fa fa-link"></i> www.cleverfan.cc</p>
    						<p><i class="fa fa-envelope-o"></i>chengfan818@gmail.com </p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-github"></a></li>
    						<li><a href="#" class="fa fa-weixin"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; 2016  | CleverFan
						</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

	</body>
</html>