<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>cf-website</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/htmleaf-demo.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="gridContainer clearfix">
		  <div id="Wrapper">
			<header class="htmleaf-header">
				<h1 class="maintitle">welcome to cleverfan website <span>An improving college student</span><span>please visit by computer!!</span></h1>
				<div class="htmleaf-links">
					<a class="htmleaf-icon icon-htmleaf-home-outline" href="github" title="github主页" target="_blank"><span> github</span></a>
					<a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="csdnblog" title="blog" target="_blank"><span> csdn blog</span></a>
				</div>
			</header>

		    <section class="parallax">
		      <div class="parallax-content">
		      	<h2 class="blog-title">My blog <br><span>include github and csdn</span></h2>
			        <p>welcome to visit my blog on github or csdn</p>
			        <p>I will share some knowlegde include java,javascript,nodejs,vue,html,css,cocos,angular and so on.</p>
			        <p>Besides,i will write the skill I have has been picked up on the job and study</p>
					<br>
					<a class="github-blog" href="githubblog">click to visit giuhub blog</a>
					
					<a class="csdn-blog" href="csdnblog">click to visit csdn blog</a>

		      </div>
		    </section>

		    <section class="parallax">
		      <div class="parallax-content">
		      	<h2 class="vue-title">vue-demo<br><span>some demos for vue study</span></h2>
			        <p>In this website , i will open source my code about vue</p>
			        <p>It contains simple demo and complex demo</p>
			        <p>It is a pity that the update time is uncertain</p>
					<br>
					<a class="github-blog" href="vuedemo">click to look</a>


		      </div>
		    </section>

			  <section class="parallax">
				  <div class="parallax-content">
					  <h2 class="upload-title">homework-upload<br><span>for accept homework</span></h2>

					  <a class="upload" href="upload">click to look</a>


				  </div>
			  </section>

		    <section class="parallax">
		      <div class="parallax-content">
		      	<h2 class="joke-title">this is a joke<br><span>no use</span></h2>
			       
					<br>
					<a class="github-blog" href="hunao">don't click!</a>
					

		      </div>
		    </section>

		    <!-- <section class="parallax-section-two">
		      <h3 class="title">this is a jock</h3>
		      <p>
		       

		      </p>
		      <div class="related">
		      hh
		      </div>
		    
		</div>
		    </section> -->
		    <hr>

		    <section class="parallax">
		      <div class="parallax-footer">
		        <p>
		          <!-- In ultricies tristique | erat eu interdum | Fusce convallis elit vitae | quam laoreet eleifend <br/><br/> | Nam eu tellus et mauris | pulvinar pharetra a tellus | Etiam sit amet facilisis | sit amet porttitor sem | Integer blandit bibendum massa -->
		          <br/><br/>WELCOME TO CONTACE ME | STUDY AND IMPROVE
		          <br/>
		          <br/> CLEVERRFAN FOOTER COPY 2016
		        </p>
		      </div>
		    </section>
		</div>
	</div>
</body>
</html>